@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: Roboto;
    font-weight: 100;
    color: white;
}

body {
    background-color: rgb(22, 22, 22);
    height: 100%;
}

main {
    border: 1px solid rgb(180, 180, 180);
    border-left: 0px;
    border-right: 0px;
    border-radius: 30px;
    width: 25%;
    height: 100%;
    margin: auto;
    margin-top: 20px;
}

h1 {
    padding: 50px;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 70px;
}

#btn {
    padding: 20px;
    width: 90%;
    margin: auto;
}

button {
    font-weight: 600;
    width: 100%;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 10px;
    margin-top: 20px;
    font-size: 30px;
    transition: color 0.2s ease, backgroud-color .8s ease, border-color .5s ease;
}

button:hover {
    color: rgb(22, 22, 22);
    background-color: rgb(30, 69, 255);
    border-color: rgb(30, 69, 255);
}

input {
    font-size: 20px;
    font-weight: 200;
    background-color: rgba(0,0,0,0);
    color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(30, 69, 255);
    border-radius: 15px;
    margin-bottom: 8px;
    transition: background-color 0.2s ease, font-weight 0.2s ease;
}

input:focus{
    outline: none;
    background-color: rgb(50, 50, 50);
    font-weight: 500;
}

label {
    padding-left: 10px;
    width: 100%;
}

img {
    width: 100px;
    float: right;
}

h2 {
    color: white;
    padding-top: 20px !important;
    float: left;
    text-align: center;
    width: 70%;
}

.profile {
    width: 90%;
    height: 100px;
}

.profile>* {
    display: block;
}

#log {
    display: none;
    margin: 20px;
}

#sign {
    margin: 20px;
    display: none;
}

#btns{
    display: none;
    margin: 20px;
}

#errors{
    display: none;
    padding: 20px;
    width: 35%;
    height: 200px;
    border: 2px solid white;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255,0,0,0.2);
}

#errors>hr{
    border: 0px;
    border-bottom: 1px dashed red;
    padding-top: 5px;
}

#errors>p{
    padding-top: 10px;
    font-size: 14px;
}

#success{
    display: none;
    padding-top: 0px;
    width: 20%;
    height: 8%;
    border: 2px solid white;
    border-radius: 20px;
    position: absolute;
    bottom: 10%;
    left: 40%;
    background-color: rgba(0,255,0,0.2);
}

#success>h3{
    margin: 8px;
    font-size: 50px;
    text-align: center;
}

#cookiesAlert{
    border-radius: 10px;
    position: absolute;
    height: 400px;
    width: 30%;
    left: 35%;
    text-align: center;
    border: solid white 1px;
    border-bottom: 0px;
    border-top: 0px;
    top: 250px;
    background-color: rgb(22,22,22);
}

#cookiesAlert>h3{
    font-size: 30px;
}

#cookiesAlert>p{
    padding: 25px;
    text-align: justify;
}

.info{
    font-weight: 300;
    color: rgb(165, 165, 165);
    font-size: 12px;
}

.cookies{
    position: absolute;
    float: left;
}

.cookies>button{
    padding: 5px;
    font-size: 15px;
}